
<h1>Guide d'utilisation de Webook</h1>
<div class="container">

  <mat-accordion>

    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <h2>Comment chercher un livre qui me plaît ?</h2>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <p>Pour trouver un livre, vous pouvez vous diriger vers la barre de navigation en haut du site
        et cliquer sur le mot "recherche".<br> Vous aurez la possibilité de filtrer les recherches par catégorie, auteur ou par localisation. </p></mat-expansion-panel>

    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <h2>Comment modifier mon profil ?</h2>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <p>Afin de modifier les informations qui vous concernent, vous pouvez cliquer sur votre photo en haut à droite
       ou bien sur le mot profil qui se trouve juste à côté. Dans la page de votre profil, vous trouverez les
        informations que vous avez déjà rentrées. Vous
       avez alors la possibilité de modifier les informations présentes, de changer la photo de profil.
        <br> La dernière étape est d'enregistrer les informations en cliquant sur le bouton en bas de la page.</p>
    </mat-expansion-panel>
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <h2>Comment publier les livres que je souhaite échanger ?</h2>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <p>Si vous souhaiter publier des livres pour les échanger avec d'autres personnes de la communauté Webook,
      vous pouvez vous rendre dans votre profil en cliquant sur votre photo ou sur le mot "profil" en haut à droite.
        <br> Dans la partie "ma bibliothèque",
        vous pouvez cliquer sur le bouton "ajouter" pour créer ou enregistrer un nouveau livre dans votre bibliothèque </p>
    </mat-expansion-panel>
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <h2>Comment supprimer un livre de ma bibliothèque ?</h2>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <p>S'il y a un ou plusieurs livres que vous voulez supprimer, rien de plus simple: allez dans votre profil
        (si vous ne savez pas comment faire voir la réponse à la question au dessus), allez dans la partie
        "ma bibliothèque", cliquez sur le livre que vous souhaitez supprimer, et vous pourrez mettre à la corbeille le
      livre en cliquant sur le bouton "supprimer" qui se trouve en haut à droite.</p>
    </mat-expansion-panel>

  </mat-accordion>

</div>

