<div class="updateProfile">

  <!--  <h2>Modifier mes coordonnées</h2>-->
  <!--  <div class="updateData">-->
  <!--    <form [formGroup]="userForm" (ngSubmit)="updateUser()" enctype="multipart/form-data" class="form-container">-->
  <!--      <div class="leftContainer">-->

  <!--        <mat-form-field>-->
  <!--          <mat-label>Username</mat-label>-->
  <!--          <input matInput id="username" type="text" formControlName="username" [placeholder]="user.username">-->
  <!--        </mat-form-field>-->

  <!--        <mat-form-field hintLabel="Min 8 caractères">-->
  <!--          <mat-label>Nouveau mot de passe</mat-label>-->
  <!--          <input matInput #pw [type]="hide ? 'password' : 'text'" formControlName="password">-->
  <!--          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"-->
  <!--                  [attr.aria-pressed]="hide">-->
  <!--            <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>-->
  <!--          </button>-->
  <!--          <mat-hint align="end">{{ pw.value.length }}/8</mat-hint>-->
  <!--        </mat-form-field>-->

  <!--        <mat-form-field>-->
  <!--          <mat-label>Ville</mat-label>-->
  <!--          <input #ville matInput type="text" formControlName="city" [placeholder]="user.city?user.city:''">-->
  <!--        </mat-form-field>-->

  <!--        <mat-form-field>-->
  <!--          <mat-label>Code postal</mat-label>-->
  <!--          <input #codePostal matInput type="text" formControlName="zipCode"-->
  <!--                 [placeholder]="user.zip_code?user.zip_code:''">-->
  <!--        </mat-form-field>-->
  <!--        &lt;!&ndash;            <ul>&ndash;&gt;-->
  <!--        &lt;!&ndash;                <li data-vicopo="#ville, #code" data-vicopo-click='{"#code": "code", "#ville": "ville"}'>&ndash;&gt;-->
  <!--        &lt;!&ndash;                    <strong data-vicopo-code-postal></strong>&ndash;&gt;-->
  <!--        &lt;!&ndash;                    <span data-vicopo-ville></span>&ndash;&gt;-->
  <!--        &lt;!&ndash;                </li>&ndash;&gt;-->
  <!--        &lt;!&ndash;            </ul>&ndash;&gt;-->
  <!--      </div>-->

  <!--      <div class="rightContainer">-->
  <!--        <p>Preferences</p>-->
  <!--        <mat-chip-listbox class="mat-mdc-chip-set-stacked" aria-label="Color selection" [multiple]="true">-->
  <!--          @for (category of categories; track category) {-->
  <!--            <mat-chip-option [selected]="isCategorySelected(category)" [value]="category.id"-->
  <!--                             (selectionChange)="onCategoryChange(category, $event.selected)">>{{ category.type }}-->
  <!--            </mat-chip-option>-->
  <!--          }-->
  <!--        </mat-chip-listbox>-->
  <!--      </div>-->
  <!--      <button type="submit">Enregistrer</button>-->
  <!--    </form>-->
  <!--  </div>-->

  <form [formGroup]="userForm" (ngSubmit)="updateUser()" enctype="multipart/form-data" class="form-container">
    <div class="form-title">
      <h2>Modifier mes coordonnées </h2>
    </div>
    <section class="section_1_discover">
      <div class="data">
        <div class="form-column">
          <div class="card-body">
            <label for="username">Username:</label>
            <input id="username" formControlName="username" type="text"
                   [placeholder]="user.username?user.username:''"><br>
            <label for="city">Ville:</label>
            <input id="city" formControlName="city" [placeholder]="user.city?user.city:''">
            <label for="zip_code">Code postal:</label><br>
            <input id="zip_code" formControlName="zip_code" type="text"
                   [placeholder]="user.zip_code?user.zip_code:''"><br>

            <div class="passwords">
              <label for="oldPassword">Ancien mot de passe:</label>
              <input id="oldPassword" formControlName="oldPassword">
              <div class="error" *ngIf="userForm.get('oldPassword')?.hasError('pattern') && userForm.get('oldPassword')?.touched">
                Invalid old password format.
              </div>

              <label for="newPassword">Nouveau mot de passe:</label>
              <input id="newPassword" formControlName="newPassword">
              <div class="error" *ngIf="userForm.get('newPassword')?.hasError('pattern') && userForm.get('newPassword')?.touched">
                Invalid new password format.
              </div>

              <label for="confirmPassword">Confirmation du mot de passe:</label>
              <input id="confirmPassword" formControlName="confirmPassword">
              <div class="error" *ngIf="userForm.get('confirmPassword')?.hasError('pattern') && userForm.get('confirmPassword')?.touched">
                Invalid confirm password format.
              </div>

              <div *ngIf="userForm.errors?.['sameAsOldPassword']">
                <span class="error">Le nouveau mot de passe ne peut pas être identique à l'ancien mot de passe.</span>
              </div>

              <div *ngIf="userForm.errors?.['passwordsMismatch']">
                <span class="error">Le nouveau mot de passe et le mot de passe de confirmation ne correspondent pas.</span>
              </div>
            </div>

          </div>
        </div>
        <div class="form-column">
          <div class="card-body">
            <label for="categories">Préférences:</label>
            <mat-chip-listbox id="categories" class="mat-mdc-chip-set-stacked" aria-label="Color selection"
                              [multiple]="true">
                <mat-chip-option *ngFor="let category of categories" [selected]="isCategorySelected(category)" [value]="category.id"
                                 (selectionChange)="onCategoryChange(category, $event.selected)">{{ category.type }}
                </mat-chip-option>
            </mat-chip-listbox>
          </div>
        </div>
      </div>

    </section>
    <section class="section_2_menu d-flex flex-column justify-content-center align-items-center mt-5">
      <nav class="container">
        <div class="row d-flex justify-content-center mt-4">
          <button type="submit">Enregistrer</button>
        </div>
      </nav>
    </section>
  </form>
</div>
