<div *ngIf="book" class="edit-book-container">
  <h1>Modifier le Livre</h1>
  <form (ngSubmit)="onSubmit()" class="edit-book-form">
    <div class="form-row">
      <!-- Card pour la couverture, nom et auteur -->
      <div class="form-column">
        <div class="card-body">
          <div class="book-image">
            <div *ngIf="coverImage">
              <img [src]="coverImage.filename.startsWith('data:') ? coverImage.filename : getBookCoverUrl(coverImage.filename)" alt="Couverture du livre" width="205">
              <button type="button" class="addCoverImageBtn" (click)="uploader.click()">
                <img src="./assets/plus.png" alt="modifier avatar">
              </button>
            </div>
            <input hidden type="file" #uploader (change)="uploadFile($event)" />
          </div>
          <label>
            Titre :
            <input type="text" [(ngModel)]="book.name" name="name" required>
          </label>
          <label>
            Auteur :
            <input type="text" [(ngModel)]="book.author" name="author" required>
          </label>
        </div>
      </div>

      <!-- Card pour les informations supplémentaires du livre -->
      <div class="form-column">
        <div class="card-body">
          <label>
            Édition :
            <input type="text" [(ngModel)]="book.edition" name="edition">
          </label>
          <label>
            ISBN :
            <input type="text" [(ngModel)]="book.isbn" name="isbn">
          </label>
          <label>
            Résumé :
            <textarea [(ngModel)]="book.resume" name="resume"></textarea>
          </label>
          <label>
            Avis :
            <textarea [(ngModel)]="book.review" name="review"></textarea>
          </label>
          <label for="categoryId">Catégorie:</label>
          <select id="categoryId" [(ngModel)]="book.bookCategory.id" name="categoryId" required>
            <option *ngFor="let category of categories" [value]="category.id">{{ category.type }}</option>
          </select>
        </div>
      </div>
    </div>

    <div class="form-buttons">
      <button type="submit" class="submit-btn">Enregistrer les modifications</button>
    </div>
  </form>
  <div *ngIf="successMessage" class="success-message">
    {{ successMessage }}
  </div>
</div>
